# Core functionality - changes here should be rare!
/src/app.py                   @andregri
/src/backend/database.py      @andregri
/src/backend/routers/auth.py  @andregri

# The frontend will need refactored soon to be more object oriented.
/src/static/   @andregri
